.info{
    height: 5vh;
    width: 100%;
   /* color: whitesmoke; */
    background-color: black;
    font-family: monospace;
}

.info_main:hover, .info_prod:hover, .info_billings:hover, .info_about:hover, .info_news:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.i_m:hover, .i_p:hover, .i_n:hover, .i_b:hover, .i_a:hover{
    color: black;
}

.i_m, .i_p, .i_n, .i_b, .i_a{
    color: white;
} 

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    .i_m, .i_p, .i_n, .i_b, .i_a{
        color: white;
    } 
}

.container_img{
    position: relative;
    
}


button{
    cursor: pointer;
}

.silvia{
    /*
    width:  100%;
    padding-bottom: 50%;
    z-index: -400;
    top: 0;
    position:relative;
    float:inline-start;
    */
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
}


.login{
    background-color: white;
    color: black;
    cursor: pointer;
}

.login:hover{
    color: white;
    background-color: black;
}

p{
    font-family: monospace;
}

h1{
    font-family: sans-serif;
    font-size: 95px;

}

h3{
    font-family: sans-serif;

}

.welcome_sub{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    z-index: 1;
}

.welcome{
    position: relative;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buy_now{
    width: 170px;
    border-radius: 200px;
    position: absolute;
    background-color: black;
    color: white;
    cursor: pointer;
}

.buy_now:hover{
    background-color: white;
    color: black;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3.2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.prods{
    display: flex;
    width: 100%;
}

.prods:nth-child(2){
    transition-delay: 200ms;
}
.prods:nth-child(3){
    transition-delay: 250ms;
}
.prods:nth-child(4)
{
    transition-delay: 320ms;
}
.prods:nth-child(5){
    transition-delay: 300ms;
}
.prod_img{
    width: 100%;
}

.buy_cars{
    font-family: monospace;
    margin-top: 57vh;
    width: 220px;
    border-radius: 200px;
    position: absolute;
    background-color: black;
    color: white;
    cursor: pointer;
}

.buy_cars:hover{
    background-color: white;
    color: black;
}

.prods{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod_title{
    margin-top: 65vh;
    position: absolute;
}

.specs{
    position: absolute;
    margin-top: 82vh;
    font-family: monospace;
    font-weight: bolder;
}

.slider_container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto; 
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.50rem;
    height: 0.50rem;
    border-radius: 50%;
    background-color: darkgray;
    opacity: 0.75;
    transition: ease 250ms;
}

.slider-nav a:hover{
    width: 0.75rem;
    height: 0.75rem;
    opacity: 1;
    background-color: white;
}

.social_media{
    
    height: 5vh;
    width: 100%;
    color: black;
    background-color: white;
    font-family: monospace;
    border: 2px solid black;
}
.insta-link:hover, .facebook-link:hover, .twitter-link:hover{
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
}

.visit_more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: black;
    color: white;
    border: 2px solid black;
}

a:visited{
    text-decoration: none;
    color: '';
} 
a:link{
    text-decoration: none;

}

